body { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; padding-top: 50px; }
#weapon-boost-area { font-size: 11px; }
#weapon-boost-area h1 { font-size: 15px; }
#weapon-select-area { display: flex; flex-direction: column; }
/* a { color: #548dc4; text-decoration: none; }
a:hover { text-decoration: underline; } */

.hidden { display: none; }

.stat-calc-input    { flex: 0 0 50%; max-width: 50% }
.stat-calc-result   { flex: 0 0 40%; max-width: 40% }
.stat-calc-result table td { font-weight: bold; text-align: center; }
.weapon-slot-notification { font-weight: bold; color: red; }

table.weapon-stat { border-collapse: collapse; border: 1px solid #CCB; width: 100%; }
table.weapon-stat td, table.weapon-stat th { padding: 5px; border: 1px solid #E0E0E0; }
table.weapon-stat th { background: #E5E5E5; text-align: center; min-width: 50px; }
input.invalid { background: red; color: #FDFDFD; }

#boost-settings input[type=number] { width: 100px; }
table .editable:hover { cursor: pointer; background: #E5E5E5 }